.navlist {
  position: relative;
}
.navlist li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}
.navlist li,
.navlist a {
  height: 44px;
  display: block;
}

.first {
  width: 43px;
  height: 44px;

  background: url("./StudioLogosGrid.svg") 0 0;
}

.second {
  width: 43px;
  height: 44px;
  background: url("./StudioLogosGrid.svg") -117px 0px;
}
