.container {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.radio_button {
    padding: 1rem;
    border-radius: 50%;
    border: none;
    
}

.font_size_sm {
    font-size: 1rem;
}
.font_size_md {
   font-size: 1.5rem;
}
.font_size_lr {
   font-size: 2rem;
}
.font_size_xl {
   font-size: 2.5rem;
}

.margin_top_one {
    margin-top: 1rem;
}
.margin_top_two {
    margin-top: 2rem;
}

.color_pink {
    background-color: #ff547d;
    color: #f5f5f5
}
.color_green {
    background-color: #70ff54;
    color: #0e0808
}
.color_black {
    background-color: #1d0f0f;
    color: #f5f5f5
}
.color_blue {
    background-color: #5363ad;
    color: #f5f5f5
}