.container_xxx {
    padding: 3rem;
    position: relative;
    height: 45%;
    width: 40%;
    border: 3px solid black;
}
.radio_button {
    padding: 1rem;
    opacity: 0.9;
    border-radius: 50%;
    border: none;

    box-shadow: 3px 4px 15px 0px rgba(13, 13, 13, 0.678);
    transition:  transform 0.5s, opacity 0.5s;
}
.radio_button:hover {
    transform: scale(1.02);
    box-shadow: 3px 4px 15px 0px rgba(13, 13, 13, 0.808);
    opacity: 1;
}
.radio_button:active {
    transform: scale(1);
    box-shadow: 3px 4px 15px 0px rgba(13, 13, 13, 0.678);
}
.progress_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.buttons_section {
    display: flex;
    justify-content:space-around;
    align-items:center;
    width: 100%;
    width: 30rem;
}
.button_size_sm {
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
}
.button_size_md {
    width: 5rem;
    height: 5rem;
    font-size: 1.2rem;
}
.button_size_lr {
    width: 6rem;
    height: 6rem;
}
.button_size_xl {
    width: 7rem;
    height: 7rem;
}

.margin_top_one {
    margin-top: 1rem;
}
.margin_top_two {
    margin-top: 2rem;
}

.color_pink {
    background-color: #ff547d;
    color: #f5f5f5
}
.color_green {
    background-color: #70ff54;
    color: #0e0808
}
.color_black {
    background-color: #1d0f0f;
    color: #f5f5f5
}
.color_blue {
    background-color: #5363ad;
    color: #f5f5f5
}
.display_container {
   width: 30rem; 
   background-color: rgba(192, 192, 192, 0.726);
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 3px 4px 15px 0px rgba(13, 13, 13, 0.678);

}
.display {
    font-size: 5rem;
    width: 100%;
    text-align: center;
  /*  color: rgba(0, 0, 0, 0.329); */
}

